/* here you can put your own css to customize and override the theme */
.dropdown-menu .divider {
  margin: 0; }

.page-header .page-header-top .page-logo .logo-default {
  margin-top: 12px !important;
  height: 48px; }

.profile-userpic img {
  width: 80% !important;
  height: 80% !important; }

div.page-logo > a > img {
  height: 100px; }
